section {
    border-radius: 100%;
    height: 666px;
    width: 666px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    border: 1px solid black;
}
.lightOn {
    background-color: yellow;
}
.light-switch {
    border-radius: 100%;
    height: 666px;
    width: 666px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    border: 1px solid black;
}
button {
    height: 666px;
    width: 666px; 
    border-radius: 100%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:   0;
    top: 0;
    background-color: transparent;
   border: none;
}
